{% extends "template.html" %} 
{% block title %}Home{% endblock %} 
{% block content%}

  <h1 align="center">{% block header %}Posts{% endblock %}</h1>
  <!-- Contain makes the code in the middle. Restricts it in the middle/center of the page-->
<div class="container">

<!-- User Posts-->
  <div id="posts">
    {% for post in posts %}
    <div class="card border-dark">
      <div class="card-header text-white bg-info d-flex justify-content-between align-items-center">

        <!-- User Author Link-->
        <a class="postslink" href="/posts/{{post.user.username}}">{{post.user.username}}</a>

        <!-- Like Button-->
        <div>
          <span id="likes-count-{{post.id}}">
            {{ post.likes|length }}</span> 
            {% if user.id in post.likes|map(attribute="author")|list %}
            <i
              class="fas fa-thumbs-up"
              id="like-button-{{post.id}}"
              onclick="like({{post.id}})"
            ></i>
            {% else %}
            <i
              class="far fa-thumbs-up"
              id="like-button-{{post.id}}"
              onclick="like({{post.id}})"
            ></i>
           {% endif %}

          <!-- User Posts Drop down Delete If user is 'Author'-->
          {% if user.id == post.author %}
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btndropdown dropdown-toggle"
              data-bs-toggle="dropdown"
            ></button>
            <ul class="dropdown-menu">
              <li>
                <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
              </li>
            </ul>
          </div>
            {% endif %}
        </div>
      </div>

      <!-- Comment feature -->
      <div class="card-body">
        <div class="card-text">{{post.text}}</div>
        <br />
        <div class="collapse" id="comments-{{post.id}}">
          <div class="card">
            <div class="card-body" id="comments-expanded-{{post.id}}">
              {% for comment in post.comments %}
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <a class="commenttxt" href="/posts/{{comment.user.username}}"
                    >{{comment.user.username}}</a
                  >: {{comment.text}}
                </div>
                <div>
                  <small class="text-muted"> {{comment.date_created}}</small>
                  {% if user.id == comment.author or user.id == post.author %}
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btndropdown dropdown-toggle"
                      data-bs-toggle="dropdown"
                    ></button>
                    <ul class="dropdown-menu">
                      <li>
                        <a
                          href="/delete-comment/{{comment.id}}"
                          class="dropdown-item">Delete</a>
                      </li>
                    </ul>
                  </div>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <p class="card-text">
          {% if post.comments|length > 0 %}
          <a class="commenttxt" data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
            <small class="commenttxt" >View {{post.comments|length}} Comments</small>
          </a>
          {% else %}
          <small class="text-muted">No Comments</small>
          {% endif %}
        </p>
        <!-- FORM -->
        <form
          class="input-group mb-3"
          method="POST"
          action="/create-comment/{{post.id}}"
        >
          <input
            type="text"
            id="text"
            name="text"
            class="form-control"
            placeholder="Comment something!"
          />
          <button type="submit" class="btn btn-info">Comment</button>
        </form>
      </div>
      <div class="card-footer blogfooter text-muted">{{post.date_created}}</div>
    </div>
    <br/> {% endfor %}
  </div>

  <!-- Creating a post button-->

  {% block footer %}
  <div align="center">
    <a href="/create-post">
      <button type="button" class="btn-lg blogbutton">
        Create a Post
      </button>
    </a> </br>
  </br>
  </div>
</div>
  {% endblock %} {% endblock %}